<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing Geospatial Data</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Turf -->
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }

      .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }

      nav {
        height: 81px;
      }

      #menu {
        background: #fff;
        position: relative;
        z-index: 1;
        right: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
        margin-top: 7px;
        margin-left: 18px;
      }

      #menu a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        height: 40px;
        line-height: 19.5px;
        text-transform: capitalize;
      }

      #menu a:last-child {
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
      }

      #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
      }

      #menu a.active {
        background-color: #3887be;
        color: rgba(255, 255, 255, 1);
      }

      #menu a.active:hover {
        background: #3074a4;
      }

      #geocoder-container>div {
        min-width: 50%;
        margin-left: 25%;
      }

      .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        text-overflow: ellipsis;
        width: auto;
      }

      @media only screen and (min-width: 800px) {
        .mapboxgl-ctrl-geocoder input[type='text'] {
          width: 400px;
          font-size: 14px;
        }

        .mapboxgl-ctrl-geocoder {
          min-width: 450px;
          max-width: 500px;
        }

        .map-overlay {
          font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
          background-color: #fff;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
          border-radius: 3px;
          position: absolute;
          width: 25%;
          top: 10px;
          left: 134px;
          padding: 10px;
          display: none;
        }
      }

      @media only screen and (max-width: 799px) {
        .mapboxgl-ctrl-geocoder input[type='text'] {
          width: 400px;
          font-size: 14px;
        }

        .mapboxgl-ctrl-geocoder {
          min-width: 42%;
          max-width: 44%;
        }

        .map-overlay {
          font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
          background-color: #fff;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
          border-radius: 3px;
          position: absolute;
          width: 34%;
          top: 15%;
          left: 2%;
          padding: 10px;
          display: none;
        }
      }

    </style>
  </head>

  <body>
    {{{body}}}
  </body>

</html>
